body {
    height: 100vh;
    margin: 0;
}

#root {
    height: 100%;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #222;
    overflow: auto;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-content {
    font-size: large;
    display: flex;
    flex-grow: 1;
}

.Menu {
    height: 100%;
}

.Menu-Item {
    padding: 20px;
    cursor: pointer;
    color: white;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.Menu-Item:hover {
    background-color: #500000;
    transition: 200ms;
}

.Menu-Item--Selected,.Menu-Item--Selected:hover {
    background-color: #840000;
    border-color: red;
}

.App-container {
    flex-grow: 1;
    overflow: auto;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
